
$color-principal: darkolivegreen;
$color-secundario: #a2b49f;
$color-terciario: #92a48f;
$color-cuaternario: #8FBD85;
$color-quintenario: #b5c6b2;

$pantalla-completa: 100%;
$media-pantalla: 50%;
$margin-auto: 0 auto;